@import url("./variables.css");
@import url("./extra-classes.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

#app {
    background: var(--primary-bg);
    width: 1512px;
    padding: calc(var(--padding-l) + 6px);
    font-family: var(--primary-ff);
    overflow-x: hidden;
}

.logo {
    width: 94px;
    height: 54px;
}

.nav {
    width: 516px;
}

.nav-link {
    font-size: var(--fs-s);
    color: var(--primary-text-color);
}

.icons {
    width: 88px;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
}

.main {
    margin-top: var(--margin-xxxl);
}

.info {
    width: 718px;
}

.main__title {
    margin-top: 0;
    font-size: var(--fs-xl);
}

.main__paragraph {
    font-size: var(--fs-s);
    margin-top: var(--margin-m);
}

.poster {
    width: 655px;
    height: 655px;
}

.about-us__poster {
    width:560px;
    height:664px;
}

.button-wrapper {
    margin-top: calc(var(--margin-xxl) + 8px); 
}

.button {
    font-size: var(--fs-s);
    padding: 18px 67px;
    border: 1px solid var(--secondary-text-color);
    background: inherit;
}

.about-us > .info {
    width: 564px;
}

.about-us > .info > .paragraph {
    margin-top: var(--margin-l);
    font-size: var(--fs-s);
}

.benefit-icon {
    width: 48px;
    height: 48px;
    margin-right: var(--margin-m);
} 

.benefit-title {
    font-size: var(--fs-s);
}

.benefit-paragraph {
    margin-top: var(--margin-s);
}

.product__title {
    font-size: var(--fs-m);
    margin-top: var(--margin-s);
    display: flex;
    justify-content: center;
}

.product__image {
    width: 440px;
    height: 440px;
}

.banner__image {
    width : 1512px;
}

.comments {
    width: 968px;
    height: 364px;
    margin: var(--margin-xxl) auto;
    position: relative;
}

.comment {
    padding: 28px;
    width: 474px;
    height: 172px;
    background-color: #DFDFDF;
    position: absolute;
    color: #777777;
}

.comments-title {
    text-align: center;
}

.comment__author {
    display: flex;
    align-items: center;
}

.comment__author img {
    width: 50px;
    height: 50px;
}

.comment__author .name {
    font-size: var(--fs-m);
    margin-left: 14px;
}

.comment__text {
    margin-top: 24px;
    font-size: 14px;
    font-family: var(--primary-ff);
}

.comment:nth-child(1) {
    top: 34px;
    left: 0;
    z-index: 2;
}

.comment:nth-child(2) {
    top: 0;
    right: 0;
}

.comment:nth-child(3) {
    bottom: 0;
    left: calc(237px - 28px);
    background-color: #f5f5f5;
    border: solid 1px #777777;
}

.comments__more {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #777;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.comments__more img {
    height: 20px;
    margin-left: 12px;
}

.bestsellers .product__title {
    margin: 0;
}

.bestsellers .product-buy {
    margin-top: 37px;
}

.product__buy {
    width: 110px;
}

.product-price {
    font-size: var(--fs-m);
    color: #2E2927;
}

.product-add-to-cart {
    width: 40px;
    height: 40px;
    border: solid 1px #777777;
    border-radius: 3px;
}

.pagination {
    margin-top: 100px;
}

.pagination > div {
    width: 12px;
    height: 12px;
    border-radius: 3px;
    margin: 0 6px;
}

.pagination > div:nth-child(1) {
    background-color: #777777;
}

.pagination > div:nth-child(2) {
    background-color: #DFDFDF;
}

.btn-catalog {
    font-size: var(--fs-m);
    margin-top: 60px;
    width: 200px;
    height: 58px;
    border: solid 1px #777777;
    background-color: transparent;
}